@charset "UTF-8";

/* GLOBAL */
body{
	font-family: "Open Sans", sans-serif;
}
h1{
	font-family: "Oswald", sans-serif;
}
h3{
	font-family: "Open Sans", sans-serif;
}

header { 
	font-family: "Oswald", sans-serif;
	font-size: 22px;
	margin-top: 20px;
 }

 header li{
	display: inline;
	padding: 0 3% 0 2%;
	/*width: 100px;*/
	
} 
.headerlink {
	color: black;
}

.headerlink:hover {
	color: #F5B12C;
	text-decoration: none;
}

#yellow.headerlink {
	color: #F5B12C;
}

#homeButton{
	width: 40px;
	height: 82px;
}

#homeButton:hover{
	text-decoration: none;
}

.pagetitle {
	float: left;
	margin-top: 15%;
	transform: rotate(-180deg);
	writing-mode: vertical-rl;
	text-orientation: sideways;
	font-size: 72px;
	padding: 0;
	margin-left: 0px;
	margin-bottom: 0px;
}

.wrap {
	flex-wrap: wrap;
	display: flex;
}

/* HOME PAGE */
#hometagline{
	font-size: 120px;
	color: black;
	margin-top: 120px;
	margin-left: 40px;
	z-index: 1;
}

#vectorportrait{
	float: right;
	margin-top: 10px;
	width: 600px;
	height: 589px;
	margin-left: 50px;
	z-index: 1;
}

#homepage-subtitle{
	font-size: 16px;
	margin-left: 40px;
	margin-top: 5%;
}

.rectangle {
  	height: 40px;
  	width: 100%;
 	background-color: #FFEDCA;
  	position: absolute;
  	top: 45%;
  	z-index: -1;
 }

.blinking-cursor {
	font-weight: lighter;
  	font-size: 120px;
  	color: #2E3D48;
  	display: inline;
  	-webkit-animation: 1.5s blink step-end infinite;
  	-moz-animation: 1.5s blink step-end infinite;
  	-ms-animation: 1.5s blink step-end infinite;
  	-o-animation: 1.5s blink step-end infinite;
  	animation: 1.5s blink step-end infinite;
}

/* CURSOR ANIMATION */
@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/* PROJECTS PAGE */

/* ABOUT ME PAGE */

.single-item{
	margin-left: 5%;
	height: 565px;
	width: 424px;
}

.about-content{
	font-family: "Open Sans", sans-serif;
	float: right;
	margin-left: 4%;
	width: 50%;
	line-height: 160%
}

#linkedin-logo{
	width: 40px;
	height: 37px;
}

#email-logo{
	width: 40px;
	height: 33px;
	margin-right: 4%;
	margin-top: 1%;
}

/* FOOTER */

footer {
	padding:5px;
  	margin-left: 40px;
  	font-size: 14px;
  	color: black;
  	background-color: white;
  	text-align: left;
  	min-height: 20px;
}

footer.center-align{
	text-align: center;
}