@charset "UTF-8";

/* GLOBAL */

body{
	font-family: "Open Sans", sans-serif;
}

h1{
	font-family: "Oswald", sans-serif;
}

h2{
	font-family: "Open Sans", sans-serif;
	font-size: 24px;
	margin-top: 3%;
}

h3{
	font-family: "Open Sans", sans-serif;
}

p{
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

header { 
	font-family: "Oswald", sans-serif;
	font-size: 22px;
	margin-top: 20px;
 }

 header li{
	display: inline;
	padding: 0 3% 0 2%;
	
} 
.headerlink {
	color: black;
}

.headerlink:hover {
	color: #F5B12C;
	text-decoration: none;
}

#yellow.headerlink {
	color: #F5B12C;
}

#homeButton{
	max-width: 40px;
	/*width: 100%;
	height: auto;*/
	/*height: 82px;*/
}

#homeButton:hover{
	text-decoration: none;
}

.pagetitle {
	float: left;
	margin-top: 10%;
	transform: rotate(-180deg);
	writing-mode: vertical-rl;
	text-orientation: sideways;
	text-align: right;
	font-size: 72px;
	padding: 0;
	margin-left: 0px;
	height: 100%;
}

.wrap {
	flex-wrap: wrap;
	display: flex;
}

/* Transition Animation */

.load-transition {
	animation: transitionIn 0.75s;
}

@keyframes transitionIn{
	from{
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0);
	}
}

/* HOME PAGE */
#hometagline{
	font-size: 120px;
	color: black;
	margin-top: 120px;
	margin-left: 40px;
	z-index: 1;
}

#vectorportrait{
	float: right;
	margin-top: 10px;
	max-width: 600px;
	/*width: 100%;
	height: auto;*/
	/*height: 589px;*/
	margin-left: 50px;
	z-index: 1;
}

#homepage-subtitle{
	font-size: 18px;
	margin-left: 40px;
	margin-top: 5%;
}

.rectangle {
  	height: 40px;
  	width: 100%;
 	background-color: #FFEDCA;
  	position: absolute;
  	top: 45%;
  	z-index: -1;
 }

.blinking-cursor {
	font-weight: lighter;
  	font-size: 120px;
  	color: #2E3D48;
  	display: inline;
  	-webkit-animation: 1.5s blink step-end infinite;
  	-moz-animation: 1.5s blink step-end infinite;
  	-ms-animation: 1.5s blink step-end infinite;
  	-o-animation: 1.5s blink step-end infinite;
  	animation: 1.5s blink step-end infinite;
}

#home-footer{
	margin-left: 2.5%;
}

/* CURSOR ANIMATION */
@keyframes "blink" {
  from, to {
    color: transparent;
	}
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

/* PROJECTS PAGE */

.image-wrap{
	margin-right: 40px;
	margin-bottom: 10px;
}

.img-container{
	position: relative;
}

.imagecover-sizing{
	max-width: 284px;
	/*width: 100%;
	height: auto;*/
	/*height: 284px;*/
	border-style: solid;
	border-color: grey;
	border-width: 2px;
}

.image-overlay {
	transition: .5s ease;
  	opacity: 0;
  	position: absolute;
  	top: 55%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	text-align: center;
}

.img-container:hover .image-overlay {
  	opacity: 1;
}

.img-container:hover .imagecover-sizing{
	opacity: 0.5;
}

.learn-more {
	background-color: #5C707E;
	border-radius: 25px;
  	padding: 10px 20px;
  	max-width: 180px;
}

.lm-button-style {
	color: white;
  	font-size: 16px;
  	text-decoration: none;
}

.lm-button-style:hover {
	color: white;
  	font-size: 16px;
  	text-decoration: none;
}

#waterlily{
	float: right;
	max-width: 354px;
	/*width: 100%;
	height: auto;*/
	/*height: 25%;*/
	margin-top: 10%;
	margin-left: 10%;
}

.project-title{
	text-align: center;
	width: 284px;
	font-size: 16px;
}

/* ABOUT ME PAGE */

.about-content{
	font-family: "Open Sans", sans-serif;
	margin-left: 4%;
	line-height: 160%;
	float: right;
}


#linkedin-logo{
	width: 40px;
	height: 37px;
	margin-bottom: 1%;
}

#email-logo{
	width: 40px;
	height: 33px;
	margin-right: 4%;
	margin-top: 1%;
	margin-bottom: 1%;

}

/*Slideshow*/
.single-item{
	margin-left: 2%;
}

.about-me-photos{
	width: 424px;
	height: auto;
	/*width: 424px;*/
}

/* IxDS II Trekko Page*/

.project-title-page{
	text-align: left;
	font-size: 50px;
	padding: 0;
	margin-left: 12%;
	font-family: "Oswald", sans-serif;
}

.project-content{
	position: relative;
	margin-left: 12%;
	width: 70%;
}

.project-video{
	margin-top: 2%;
	padding: 0;
	margin-left:12%;
	outline: none;
	margin-bottom: 2%;
}

#trekko_eco_photo {
	max-width: 600px;
	width: 100%;
	height: auto;
	/*height: 275px;*/
}

#wheelchair-storyboard{
	max-width: 640px;
	width: 100%;
	height: auto;
	/*height: 495px;*/
}

/* IxDS II Markel Page*/
.right-side {
	width: 60%;
	height: 100%;
	margin-top: 2%;
}

.left-side {
	width: 35%;
	/*width: 480px;*/
	height: 100%;
}

.project-video-vertical{
	margin-right: 0px;
	margin-top: 1%;
	padding: 0px;
	margin-left:20%;
	outline: none;
}

#stakeholdermap{
	max-width: 800px;
	width: 100%;
	height: auto;
	/*height: 518px;*/
}

#wirecut-cookie-photo{
	max-width: 213px;
	width: 100%;
	height: auto;
	/*height: 600px;*/
	margin-bottom: 1%;
}

#prism-photo{
	max-width: 238px;
	width: 100%;
	height: auto;
	/*height: 600px;*/
	margin-bottom: 1%;
	margin-left: 2%;
}

#maintenance-photo{
	max-width: 276px;
	width: 100%;
	height: auto;
	/*height: 600px;*/
	margin-bottom: 1%;
	margin-left: 2%;
}

/* IxDS I Atlantis Hub Page*/
#current-state-photo{
	max-width: 245px;
	width: 100%;
	height: auto;
	/*height: 300px;*/
}

.atlantishub-photo{
	max-width: 338px;
	width: 100%;
	height: auto;
	/*height: 600px;*/
	margin-bottom: 1%;
	margin-left: 2%;
}

#button-photo{
	max-width: 400px;
	width: 100%;
	height: auto;
	/*height: 283px;*/
}

#user-personas-photo{
	max-width: 500px;
	width: 100%;
	height: auto;
	/*height: 178px;*/
	margin-bottom: 2%;
}

/* IxDS I HCI Celebration Page*/

.hci-prototype {
	max-width: 600px;
	/*height: 338px;*/
}

.hci-prototype-slideshow-sizing{
	width: 600px;
	height: auto;
	/*height: 338px;*/
	margin-left: 5%;
	margin-top:1%;
}

#hci-iteration-1{
	max-width: 600px;
	width: 100%;
	height: auto;
	/*height: 399px;*/
}

/*Social Web Pondr Page*/
#pondr-affinity {
	max-width: 450px;
	width: 100%;
	height: auto;
}

#pondr-lofi {
	max-width: 900px;
	width: 100%;
	height: auto;
}

#pondr-midfi {
	max-width: 900px;
	width: 100%;
	height: auto;
}

.pondr-hifi {
	max-width: 900px;
	width: 100%;
	height: auto;
}

.content-list{
	font-size: 14px;
}

/* Misc. Projects Page*/
.misc-project-title{
	margin-left: 11%;
}

#digital-drawing{
	max-width: 400px;
	width: 100%;
	height: auto;
	/*height: 528px;*/
	margin-left: 11%;
	margin-top: 2%;
}

.misc-caption{
	margin-top: 2%;
	margin-left: 4%;
	width: 100%;
}

/* Indent for first photo*/
.indent1{
	margin-left: 11%;
}

/* Indent for later photos*/
.indent2{
	margin-left: 2%;
}


.fashion-poster{
	max-width: 300px;
	/*height: 478px;*/
	margin-top: 2%;
	margin-bottom: 2%;
	border-style: solid;
	border-color: grey;
	border-width: 2px;
}

.gestalt-series{
	width: 600px;
	height: auto;
	/*height: 388px;*/
	border-style: solid;
	border-color: grey;
	border-width: 2px;
}

.gestalt-sizing{
	width: 600px;
	height: auto;
	margin-left: 10%;
	margin-top: 2%;
}

.gestalt-margin-indent{
	margin-left: 15%;
}

/* FOOTER */

footer {
	padding:5px;
  	font-size: 14px;
  	color: black;
  	background-color: white;
  	text-align: left;
  	margin-top: 2%;
}

footer.center-align{
	text-align: center;
}

.footer-link-style {
	text-decoration: none;
	color: #F5B12C;
}

.footer-link-style:hover {
	text-decoration: underline;
}







