@charset "UTF-8";

/* GLOBAL */
body{
	font-size: 18px;
	padding:0;
  	margin:0;
  	background: url('../HW6A files/images/pinkbackground.png') no-repeat;
}

.container {
	margin: auto;
	overflow: hidden;
}

ul {
	margin:0;
	padding: 0;
}


h1 {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 24px;
	color: #454545;
}

h2 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #454545;
}

h3 {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #454545;
	font-weight: bold;
}

p {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #454545;
}

.title {
	font-weight: bolder;
	font-size: 33px;
	margin-left: 25px;
	margin-bottom: 20px;
	margin-top: 20px;
	font-variant: normal;
}

.wrap {
	flex-wrap: wrap;
	display: flex;
}

/*#quantityCount{
	height: 30px;
  	width: 30px;
  	background-color: #454545;
  	border-radius: 50%;
  	display: inline-flex;
  	position: relative;
	color: #454545;
	z-index: -1;
}*/

#quantityCount {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-color: white;
	border-radius: 50%;
	color: #454545;
	border: solid #454545 1px;
	padding-left: 4px;
	padding-right: 4px;
}


/* HEADER */

header {
	background-color: white;
	opacity: 85%;
	padding-top: 10px;
	min-height: 50px;
	text-decoration: none;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 18px;
	margin: 0px; 
}


header li {
	float:right;
	display: inline;
	padding: 0 20px 0 20px;
} 

header #branding {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 24px;
	float: left;
	margin-left: 10px;
	text-decoration: none;
}

/* Nav pseudo classes*/
header a:link {
	color: #454545;
	text-decoration: none;
}

header a:visited {
	color: #454545;
	text-decoration: none;
}

header a:hover {
	color: #EFAB8E;
	text-decoration: none;
}

header a:active {
	color: #EFAB8E;
	text-decoration: none;
}


/* HOME PAGE */

#slogan {
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 80px;
	width: 400px;
	height:443px;
	font-weight: lighter;
	margin-top: 20px;
	margin-bottom: 0px;
	margin-left: 50px;
	margin-right: 0px;
	padding: 0px;
}

.bold{
	font-weight: bold;
}

#plants {
	float: right;
	max-width: 100%;
	height: auto;
	display: inline;
}

#homebuns {
	float:right;
	max-width: 100%;
	height:auto;
	display: inline;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -70px;
}

#shopnowbutton{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
	margin-right: 0px;
	padding: 15px;
	border: 3px solid #454545;
	border-bottom: 3px solid #454545;
	border-radius: 100px;
	text-decoration: none;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 33px;
}

#shopnowbutton:link {
	color: #454545;
	text-decoration: none;
}

#shopnowbutton:visited {
	color: #454545;
	text-decoration: none;
}

#shopnowbutton:hover {
	color: #EFAB8E;
	text-decoration: none;
	border-color: #EFAB8E;
}

#shopnowbutton:active {
	color: #EFAB8E;
	text-decoration: none;
}

/*PRODUCTS PAGE*/

.productbuns {
	margin-left: 90px;
	margin-top: 5px;
	margin-bottom: 25px;
	max-width: 100%;
	height: auto;
}

.label {
	text-align: center; 
	padding: 10px 20px;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	margin: 0px;
	padding: 0px;
	color: #454545;
	position: relative;
	width: 344px;
}

.label:link {
	color: #454545;
	text-decoration: none;
}

.label:visited {
	color: #454545;
	text-decoration: none;
}

.label:hover {
	color: #EFAB8E;
	text-decoration: none;
}

.label:active {
	color: #454545;
	text-decoration: none;
}

/* PRODUCT DETAILS PAGE */

.producttitle-format {
	margin-top: 30px;
	font-size: 27px;
}

.sideimage {
	margin: 30px 40px 40px 50px;
	float:left;
}


.productdescription {
	width: 1270px;
	margin-bottom: 25px;
}

.detailLabels {
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #454545;
	font-weight: bold;
	margin-bottom: 20px;
	margin-right: 10px;
	display: block;
}

.selectordropdowns{
	font-size: 15px;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	color: #454545;
	border: solid 2px #454545;
	padding: 10px;
	background-color: white;
	margin-bottom: 20px;
}

#addtocart {
	text-decoration: none;
	background-color: white;
	border: solid;
	padding: 15px;
	border-radius: 50px;
	color: #454545;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	margin-left: 170px;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 390px;
	outline: none;
}

#addtocart:link {
	color: #454545;
	text-decoration: none;
}

#addtocart:visited {
	color: #454545;
	text-decoration: none;
}

#addtocart:hover {
	text-decoration: none;
	border: solid 3.5px;
	padding: 15px;
	border-radius: 50px;
	font-weight: bold;
}

#addtocart:active {
	color: #454545;
	text-decoration: none;
}

#price {
	margin-top: 20px;
	margin-bottom: 60px;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #454545;
	font-weight: bold;
}

#pricelabel {
	margin-top: 20px;
	margin-bottom: 60px;
}

i {
  border: solid;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 4px;
  border-color: #454545;
  margin-right: 2px;
  margin-top: 5px;
}

.downarrow {
	transform: rotate(45deg);
 	-webkit-transform: rotate(45deg);
 	margin-right: 20px;
}

.downarrow:hover {
	border-width: 0 7px 7px 0;
}

.infoDropdownButton {
	font-size: 21px;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	color: #454545;
	font-variant: small-caps;
	font-weight: lighter;
	height: 50px;
	width: 520px;
	text-align: left;
	cursor: pointer;
	outline: none;
	border: none;
}

.infoDropdownButton:hover {
	text-decoration: none;
	font-weight: 900;
}

.collapsiblecontent{ 
	padding-left: 40px;
	display: none;
	overflow: hidden;
	position: relative;
 }

/* ABOUT PAGE */
.aboutdescription {
	width: 1270px;
	margin-bottom: 25px;
}

#abouttitle{
	font-variant: small-caps;
	font-size: 30px;
	
}

.aboutimage{
	margin: 12px 40px 20px 50px;
	float:left;
}

/* SHOPPING BAG PAGE */
.productlist{
	background-color: #EBF3FF;
	margin-left: 25px;
	height: 500px;
	margin-bottom: 25px;
	flex: 2 1 1%;
}

#backtoshopping {
	text-decoration: none;
	border: solid 1.5px;
	padding: 10px;
	border-radius: 50px;
	color: #454545;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	margin-left: 20px;
	font-size: 14px;
	display: inline-block;
	top: 580px;
	position: absolute;
}

#backtoshopping:link {
	color: #454545;
	text-decoration: none;
}

#backtoshopping:visited {
	color: #454545;
	text-decoration: none;
}

#backtoshopping:hover {
	text-decoration: none;
	border: solid 3px;
	font-weight: bold;
}

#backtoshopping:active {
	color: #454545;
	text-decoration: none;
}

#summarytitle{
	position: relative;
	margin-left: 30px;
	top: -30px;
}

h2.indent {
	margin-left: 10px;
}

h3.indent {
	margin-left: 10px;
	margin-top: 25px;
	margin-bottom: 15px;
}

.ordersummary{
	background-color: #EBF3FF;
	width: 40%;
	height: 330px;
	position: relative;
	flex: 0.5 0.5 0%;
	margin: 30px 30px 25px -170px;
}

#checkout{
	text-decoration: none;
	border: solid 2px;
	padding: 10px 15px 10px 15px;
	border-radius: 50px;
	color: #454545;
	font-family: "Noto Sans", Arial, Helvetica, sans-serif;
	margin-left: 70px;
	font-size: 18px;
	margin-bottom: 5px;
	display: inline-block;
}

#checkout:link {
	color: #454545;
	text-decoration: none;
}

#checkout:visited {
	color: #454545;
	text-decoration: none;
}

#checkout:hover {
	color: white;
	text-decoration: none;
	background-color: #454545;
	border-radius: 50px;
}

#checkout:active {
	color: #454545;
	text-decoration: none;
}

hr {
	width: 90%;
}

/* FOOTER */

footer {
	padding:5px;
  	margin-top:0px;
  	color:#454545;
  	background-color:#B2D0FC;
  	text-align: center;
  	min-height: 20px;
  	top: -1000px;
}


